BODY	{
	color: #000;
	background-color: #fff;
	margin: 0px;
	padding: 0px
	}

h1	{
	color: f71335;
	font-size: 200%;
	font-weight: 100;
	padding: 0px;
	margin: 0px;
	}

h2	{
	color: #f71355;
	font-size: 150%;
	font-weight:600;
	padding:0px;
	margin: 0px;
	}

h3	{
	color: #f71355;
	font-size: 100%;
	font-weight: 600;
	}

h4	{
	font-size: 80%;
	font-weight: 100;
	}

h5	{
	font-size: 60%;
	font-weight: 100;
	color: #f71335;
	text-align: center;
	}

h6	{
	font-weight: 100;
	font-size:50%
	}

#logo{
	width: 700px;
	height: 204px;
	background-color: #100cf5;
	border-left:40px: #f2ee0c;
	border-right: 20px #f2ee0c;
	border-bottom: 1px #f71355;
	background-image: url(img/westgate.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	}
	
#links	{
	position: absolute;
	text-align: right;
	top: 215px;
	left: 0px;
	width: 170px;
	}
	
#content{
	position: absolute;
	top: 204px;
	left: 200px;
	width: 450px;
	padding: 10px;
	border-bottom: 1px #f71355 solid;
	border-left: 1px #f71355 solid;
	border-right: 1px #f71355 solid;
	}
	
#link a{
	font-size: 80%;
	color: #000;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	width: 150px;
       }
       
 #links a:hover {
 	font-weight: 600;
	padding-right:10px;
	border-right: 10px #f71355 solid;
	}
