body	{
	color: #000;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	font: 100% Arial, Sans-serif;
	voice-family: "\"}\"";
	voice-family: inherit; 
	}

h1	{
	color: #ac1400;
	fontsize: 200%;
	font-weight: 100;
	padding: 0px;
	margin: 0px;
	}

h2	{
	font-size: 100%;
	color: black;
	font-weight: 600;
	padding: 0px;
	margin: 0px;
	}

h3	{
	font-size: 100%;
	color: black;
	font-weight: 600;
	}

h4	{
	font-size: 80%;
	font-weight: 100;
	color: black;
	}

h5	{
	font-size: 60%;
	font-weight: 100;
	color: black;
	text-align: center;
	}

h6	{
	font-size: 50%;
	font-weight: 100;
	color: black;
	}

#logo	{
	width: 700px;
	height: 102px;
	background-color: #eaeae7;
	border-left: 40px #3165cd solid;
	border-right: 20px #3165cd solid;
	border-bottom: 1px #808080 solid;
	background-image: url(img/16thgreenview.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
	}


#links	{
	position: absolute;
	text-align: right;
	top: 115px;
	left: 0px;
	width: 150px;
	}

#content{
	position: absolute;
	top: 104px;
	left: 160px;
	width: 550px;
	padding: 10px;
	border-bottom: 1px #808080 solid;
	border-left: 1px #808080 solid;
	border-right: 1px #808080 solid;
	background-image: url(img/horseracing.gif);
	}

#links a{
	font-size: 80%;
	color: #000;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	width: 150px;
	}

#links a:hover {
	font-weight: 600;
	padding-right: 10px;
	border-right: 10px #3165cd solid;
	background-image: url(img/arrow.gif);
	background-repeat: no-repeat;
	background-position: top left;
	}
