<style type="text/css">
<!--
<!-- comment -->
div.bug1
{
}

body
{
   color: #0B4199;
   background-color: #FFFFFF;
   font-family: verdana, arial, helvetica;
   font-size: 76%;
   text-align: right;

   <!-- Change these -->
   scrollbar-face-color: #D3E9F7; scrollbar-shadow-color: #999999;
   scrollbar-highlight-color: #999999; scrollbar-3dlight-color: #999999;
   scrollbar-darkshadow-color: #FFFFFF; scrollbar-track-color: #F9F7F7;
   scrollbar-arrow-color: #388DC2;
}
p
{
   margin-left:   10px;
   margin-right:  10px;
   margin-top:    20px;
   margin-bottom: 20px;
   
   text-align: justify;
}
h1
{
   margin-left:   10px;
   margin-right:  10px;
   margin-top:    20px;
   margin-bottom: 20px;

   font-size: 14 pt;
   font-style: bold;
   background-color: #FFFFFF;

}
td.main
{
   background-color: #FFFFFF;
}
td.footer
{
   font-size: smaller;
   font-style: italic;
   background-color: #FFFFFF;
}
td.blue
{
   background-color: #08419C;
}
td.red
{
   background-color: #FF0000;
}
td.link
{
   font-weight: bolder;
   color: #08419C;

   background-color: #08419C;
}
<!-- The links must come in this order -->
div.bug2
{

}
a:link
{
   color: #FFFFFF;
   text-decoration:none;
}
a:visited
{
   color: #FFFFFF;
   text-decoration:none;
}

a:hover
{
   color: #EB1D1D;
   text-decoration:none;
}
a:active
{
   color: #EB1D1D;
   text-decoration:none;
}

-->
</style>
