* {
  padding: 0;
  border: none;
  border-collapse: collapse;
  z-index: 0;
}
aside { 
  background-color: #c8c8ff;
  border: 1px solid black;
  padding: 4px;
  font-family: Serif;
  color: #04063f;
}

body {
  margin: 0px;
  padding: 0px;
  text-align: justify;
  background:#030a12;
}
a, a:visited {
  text-decoration: none;
  color: #4F82CB; 
  background: inherit;
}
a:hover {
  color: #020244;
  background: inherit;
}
h1, h2, h3 {
  font-family: Tahoma, Verdana, Sans Serif;
  font-weight: Bold;
  margin: 0px;
  padding: 0px; 
}
h1 {
  font-size: 160%;
  margin-top: 10px;
  border-bottom: #3a3d6a 1px solid;
  text-align: left;
}
h2 {
  font-size: 110%;
  color: #8787c9;
  padding-top: 10px;
}
h3 {
  font-size: 110%;
  color: #040446; 
}
.strokeme {
    color: white;
    font-size: 60px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#animation { 
    background-image: url(images/starfield_01.png);
    background-repeat: repeat; 
    height: 100%; 
    width: 100%;
    position: fixed;
    z-index: -100;
}
#topBlurb{
  position: relative;
  left: -50px;
  top: -10px;
  font-size: 20px;
  color: white;
  background: #020222;
  width: 788px;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 2px 2px 8px gold;
  border: 1px solid white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 55;
}
#siteName{
  position: relative;
  display: block;
  width: 290px;
  margin-left: -32px;
  margin-right: auto;
  height: 0px;
  top:  10px;
  font-size: 32px;
  font-family: Tahoma, Verdana, Sans Serif;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  color: white;
  z-index: 1;
}

#pagewrap {
  position: relative;
  top: -0px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  width: 1100px;
  z-index: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#sidemenu {
  float: left;
  display: block;
  width: 200px;
  height: 700px;
  font: 20px Tahoma, Verdana, sans-serif;
  color: #020244;
  padding: 0px;
  margin: 0px; 
  margin-top: -35px;
  
}
#sidemenu ul {
  list-style: none;
  padding: 0px;
  padding-top: 30px;
  padding-left: 5px;
  text-align: center;
  position: relative;
  width: 201px;
  left: -36px;
  margin-right: auto;
  top: 10px; 
  position: relative;
}
#sidemenu li {
  border: 1px solid #13b6f3;
  border-radius: 5px;
  margin-bottom: 6px;
}
#sidemenu a {
  /*text-decoration: none;
  font: 20px/25px Tahoma, Verdana, Sans-serif;
  color: #00FFFF;
  text-shadow: 2px 2px 8px white;
  margin-left: auto;
  margin-right: auto;*/
  font: 18px/23px Tahoma, Verdana, Sans-serif;
  text-shadow: 2px 2px 8px white;
  display:block;
  color:#00FFFF;
  text-decoration:none;
  margin-left: auto;
  margin-right: auto;
}
#sidemenu li:hover {
  /*color: #04063f;
  background: #13b6f3;
  margin-left: auto;
  margin-right: auto;*/
  background-color:#13b6f3;
  color:#000;
}

#sidemenu a:hover {
  color: #000;
}
#sidemenu form {
  margin: 0px;
  padding: 0px;
  float: left;
}
#ads{
  margin-left:-30px;
}
.separated{
  margin-top: 20px;
}
#topstripe{
  padding: 5px;
  height: 50px;
}

#subjectsTable{
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}
#subjectsTable table, tr, td, th {
  border: 1px solid #3a3d6a;
  border-collapse: collapse;
}
.center {
  text-align: center;
}

#content {
  width: 790px;
  float: right;
  position: relative;
  height: 100%;
  background: #fff;
  font: 80%/1.7em Verdana, Tahoma, arial, sans-serif;
  color: #020244;
  padding: 10px 50px 10px 50px;
  text-align: justify;
  margin: 20px 0px;
  border: 1px solid black;
  border-radius: 8px;
  top: -65px;
}
#bottomNavUp{
   position: relative; 
   display: block;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   float: right;
   width: 795px;
   top: 50px; 
   padding: 0px 50px 0px 50px; 
   margin-bottom: 40px;
}
#menuRemote{
    background-repeat: no-repeat;
    background-image: url(images/menuRemote_Full-500.png);
    width: 230px;
    height: 500px; 
    background-size: 230px 500px;  
    position: fixed;
    top: 90px;
    z-index: 50;
    margin-left: 20px;
}
img{
  padding: 0px;
  margin: 0;
  border: 0;
}
#motto{
  font-family: Tahoma, Verdana, Sans Serif;
  font-size: 10px;
  display: block;
}
/* ================== UL/OL classes ==================*/
ul {
  list-style-type: disc;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
ol {
  list-style-type: decimal;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.olul {
  list-style-type: disc;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 10%;
}
.ulol {
  list-style-type: decimal;
  margin: 0px;
  padding-top: 0px;
  padding-left: 10%;
  padding-bottom: 5px;
}
.ulul {
  list-style-type: circle;
  margin: 0px;
  padding-top: 0px;
  padding-left: 10%;
  padding-bottom: 5px;
}
.ululul {
  list-style-type: square;
  margin: 0px;
  padding-top: 0px;
  padding-left: 20%;
  padding-bottom: 5px;
}
.olulul {
  list-style-type: square;
  margin: 0px;
  padding-top: 0px;
  padding-left: 20%;
  padding-bottom: 5px;
}
.ululol {
  list-style-type: decimal;
  margin: 0px;
  padding-top: 0px;
  padding-left: 15%;
  padding-bottom: 0px;
}
.ulolul {
  list-style-type: circle;
  margin: 0px;
  padding-top: 0px;
  padding-left: 15%;
  padding-bottom: 0px;
}
.ululolul {
  list-style-type: square;
  margin: 0px;
  padding-top: 0px;
  padding-left: 18%;
  padding-bottom: 5px;
}
/* ==================endof UL/OL classes ==================*/

#pagetop {
  margin: 0px;
  padding: 0px;
  background: #3a3d6a;
  border-collapse: collapse;
}
#pagetop img {
  margin-bottom: 0px;
  padding: 0px;
  border-collapse: collapse;
}

/* =============== Progress/Updates ==================== */
#inprogress {
  position: fixed;
  font: 12px Tahoma, Verdana, 'Trebuchet MS', sans-serif;
  padding: 5px;
  margin: 0px;
  color: #fff;
/*  background: #000; */
  top: 200px;
  left: 10px;
  text-align: center;
  width: 120px;
  /* following not implemented on all browsers as of 20120102  use of '-moz-' prefix
     works for mozilla but breaks css level 3 */
}
#inprogress a {
  color: #c55282;
}
#inprogress a:hover {
  text-decoration: underline;
  color: #c55282
}
/* =============== endof Progress/Updates ==================== */
#sidecol {
position: fixed;
  float: left;
	display: block;
	width: 20%;
 	height: 100%;
	font: 16px/24px Tahoma, Verdana, 'Trebuchet MS', sans-serif;
	
	color: #020244;
	padding: 0px 0px 0px 15px;
	margin: 0px;	
}
#sidecol form {
  margin: 0px;
  padding: 0px;
  float: left;
}
#sidecol ul {
	list-style: none;
	padding: 0px 0px 0px 10px;
}
#sidecol li a {
	text-decoration: none;
  font: 14px/20px Verdana, Arial, Tahoma, Sans-serif;
  color: #3c5282;
}
#sidecol ul li a:hover {
  color: #020244;
}
#sidecol img {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#sidesearch {
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.center {
  text-align: center;
}
.table75center {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
table.calendar {
  border-collapse: collapse;
  width: 98%;
}
td {
  vertical-align: middle;
}
td.calouter {
  text-align: center;
  width: 1%;  
  border: 1px solid #000;
}
td.calinner {
  text-align: justify;
  width: 97%;
  border: 1px solid #000;
  font-weight: bold;
}
td.calinner_exam {
  text-align: justify;
  width: 97%;
  border: 1px solid #000;
  font-weight: bold;
  background: #f9bdd6;
}
.calwend {
  background: #8aa8b0;
  border: 1px solid #000;
}
.caltop {
  border: 1px solid #000; 
  background: #3a3d6a;
  color: #fff;
  font-weight: bold;
}
td.bkb {
  border: 1px solid #000;
}
tr.top {
 	background: #8aa8b0;
}
tr.threadname {
 background: #cfdee3;
}
tr.comment {
	background: #eae4f8;
}
#bottom_nav_up {
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 16px;
  text-align: right;
}
#bottombit {
	clear: both;
	margin: 0px;
	padding: 0px;
	background: #3a3d6a;
	color: #d1d8ec;
	font: 10px/16px Verdana, Arial, Tahoma, Sans-serif;
	height: 16px;
	text-align: center;
}
.size_iframe {
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 60px; 
  height:30px;  
  top: 0px;
  left: 0px;
  display: inline;
  overflow: hidden;
}
