body 
{
  /* background image deactivated in favour of transparency FR 20180402
     background: url('images/Galaxy.jpg') no-repeat center center fixed; */
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}

#container 
{
	position:fixed;
}
#educationPlanet_gas
{	position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
	left: 250px;
	top: 200px;
}
#advocacyPlanet_black
{
  position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
	left: 250px;
	top: 400px;
}
#equalityPlanet_blue
{
  position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
	left: 500px;
	top: 200px;
}
#republicanismPlanet_red
{
  position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
	left: 500px;
	top: 400px;
}
#resourcesPlanet_green
{
  position: absolute;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
	left: 750px;
	top: 200px;
}
#archivePlanet_lava
{
  position: absolute;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
	left: 750px;
	top: 400px;
}
/*#preload { 
		position: absolute;
		left: -9999px;
		top:  -9999px; }
*/
.navbar
{
  margin: 10px 10px 10px 10px;
}
