body 
{
  background: url('images/Galaxy.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}

#container 
{
	position:fixed;
}

#testElem1
{	position: absolute;
    background-color: green;
	top 80px;
	right 400px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}

#testElem2
{
  position: absolute;
	top 200px;
	right 300px;
    background-color: green;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}
#testElem3
{
  position: absolute;
	top 320px;
	right 100px;
    background-color: green;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}
#testElem4
{
  position: absolute;
	top 440px;
	right 200px;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}
