body 
{
  /* background image deactivated in favour of transparency FR 20180402
     background: url('images/Galaxy.jpg') no-repeat center center fixed; */
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}

#container 
{
	position:fixed;
}
#testElem1
{	position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}
#testElem2
{
  position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}
#testElem3
{
  position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}
#testElem4
{
  position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}
#testElem5
{
  position: absolute;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}
#testElem6
{
  position: absolute;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}
#preload { 
		position: absolute;
		left: -9999px;
		top:  -9999px; }

.navbar
{
  margin: 10px 10px 10px 10px;
}
