body 
{
  background: url('images/Galaxy.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}

#container 
{
	position:fixed;
}

#educationPlanet
{
	position: absolute;
  background: url('images/Education.png');
  background-size: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}

#equalityPlanet
{
  position: absolute;
  background: url('images/Equality.png');
  background-size: auto;
    -webkit-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}

.navbar
{
  margin: 10px 10px 10px 10px;
}
