:root {
        --ic-brand-primary-darkened-5: #005039;
--ic-brand-primary-darkened-10: #004C36;
--ic-brand-primary-darkened-15: #004833;
--ic-brand-primary-lightened-5: #0C5C45;
--ic-brand-primary-lightened-10: #19654F;
--ic-brand-primary-lightened-15: #266D59;
--ic-brand-button--primary-bgd-darkened-5: #005039;
--ic-brand-button--primary-bgd-darkened-15: #004833;
--ic-brand-button--secondary-bgd-darkened-5: #515151;
--ic-brand-button--secondary-bgd-darkened-15: #494949;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #004C36;
--ic-link-color-lightened-10: #19654F;
--ic-brand-primary: #00543c;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #00543c;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #555555;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #00543c;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: #00543c;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #00543c;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_10180000000090279/attachments/63018236/USF-logo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1937725857&Signature=G4xAM4gwvBm8rAA9a4j0Ua8OXJk%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-f2359ad914.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-52212226d6.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #00543c;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #182025;
--ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-a66b946d8d.svg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }