body	{
	background-color: #ebe2ff;
	}

h1	{
	color: #7f7777;
	font-size: 200%;
	font-weight: 100;
	padding: 0px;
	margin: 0px;
	text-align: center;
	}

h2	{
	color: #7f7777;
	font-size: 150%;
	font-weight: 600;
	padding: 0px;
	margin: 0px;
	}

h3	{
	color:#7f7777;
	font-size: 100%;
	font-weight: 600;
	}
	
h4	{
	color: #7f7777;
	font-size: 80%;
	font-weight: 100;
	}

h5	{
	color: #7f7777;
	font-size: 60%;
	font-weight: 100;
	text-align: center;
	}
	
h6	{
	color: #7f7777;
	font-weight: 100;
	font-size: 50%;
	}

#logo	{
	text-align: center;
	width: 100%;
	}

#links	{
	position: absolute;
	text-align: right;
	top: 215px;
	left: 0px;
	width: 150px;
	}

#content	{
	position: absolute;
	top: 50px;
	left: 155px;
	width: 640px;
	text-align: left;
	}
