body {
/*     Spacing between lines - looks neater and easier to read */
    line-height: 2.0;
/*     Indenting webpage */
    padding-left: 80px;
    padding-right: 80px;
/*     All of the writing is white */
    color: white;
/*     Link to the background image */
    background: url("http://codepen.io/images/classy_fabric.png"); 
}

h2 {
/*     Under a heading will appear a white line */
    border-bottom: solid 1px #fff;
/*     Adding some affects to the heading */
    box-shadow: 1px 1px 1px 1px #fff rgba(0,0,0,0,3);
/*     Line height of two left too big of a gap underneath the heading so I changed it */
    line-height: 1.5;
/*     Colour of the heading is white */
    color: #fff;
/*     Background of the heading is red */
    background-color: #ec2b35;
/*     Centering the text */
    text-align: center;
    font-size: 19px;
}

h1 {
    font-family:sans-serif;
/*     Font colour set as blue */
    color: #0e53a7;
/*     Making the heading "stand out" */
    text-shadow: 0 3px 0 #000, 0 15px 5px rgba(0,0,0,0.1), 10px 20px 5px rgba(0,0,0,0.05), -10px 20px 5px rgba(0,0,0,0.05);
    font-size: 17pt;
/*     Give it a position so you can move it */
    position: relative;
/*     Float over things */
    float: left;
/*     Positioning is here */
    top: 30px;
    left: 200px;
}

h3 {
/*     Blue colour */
    color: #4a74a7;
    font-size: 17px;
}

p {
/*     Paragraphs */
    text-align: justify;
    font-size: 15px;
    font-family: georgian;
}

th {
/*     Table heading */
    font-family: serif;
    font-size: 18px;
}

a {
/*     Links */
/*     Gets rid of links being underlined */
    text-decoration: none;
    color: #7ea4d4;
}

a:hover {
/*     Mouse hovers over a link, underline the links and change colour to the one set */
    color: #a9afd5;
    text-decoration: underline;
}

/* THIS IS THE CONATCT PART ON TOP OF THE PAGE */

#contactinfo {
    height: auto;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
} 

#contactinfo ul {
/*     Getting rid of bullet points */
    text-decoration: none;
}

#contactinfo li {
/*     Contact details appear in a line rather than vertically  */
    display: inline;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-family: Serif;
    font-weight: bold;
}

/* THIS IS THE NAVIGATION BAR */

#nav {
    width: 1050px;
    background: #ec2b35;
    text-align: center;
/*     Gives navigation bar rounded edges */
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#nav li {
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
/*     Seperating each link with a white vertical border */
    border-right: 1px solid #fff;
    display:inline-block;
}

#nav a {
/*     Links in nav bar */
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#nav a:hover {
/*     When mouse hovers over link, change colour to blue */
    color: #0e53a7;
}

#header {
/*     Where the logo and header is placed */
    width: 1050px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
/*     Setting size and position of logo */
    height: 160px;
    width: 300px;
    float: left;
    padding-left: 40px;
}

#content {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left:auto;
    margin-right: auto;
    width: auto;
}

#textContent {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left:auto;
    margin-right: auto;
    /* this value should probably be changed: take a look */
    width: 950px;
    -webkit-column-count:2; /* Chrome, Safari, Opera */
    -moz-column-count:2; /* Firefox */
    column-count: 2;
}

#phone {
/*     Phone icon */
    position: relative;
    height: 20px;
    width: 20px;
    top: 4px;
}

#email {
/*     Email Icon */
    position: relative;
    height: 20px;
    width: 20px;
    top: 4px;
}

/* THIS IS THE TABLE WITH THE CLICKABLE IMAGES */

#tableimg {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#tableimg img {
/*     Each image has a border */
    border:1px solid #fff;
}

#tableimg img:hover {
/*     Border changes colour when hovered over */
    border:1px solid #ec2b35;
}

/* Give the images in the table height and with */

#software {
    height: 200px;
    width: 300px;
}

#consultancy {
    height: 200px;
    width: 300px;
}

#maintenance {
    height: 200px;
    width: 300px;
}

/* THIS IS THE FOOTER */

#footer {
    background-color: #000;
    border: solid 1.5px #000;
    width: auto;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

#footer li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 10px;
    padding-left: 4px;
}

#challenges {
/*     This is text in the learner record */
    text-align: justify;
    font-size: 16px;
    font-family: Times New Roman, Times, sans-serif;
}